// Common Styles for Cards
.card {
  background-color: var(--secondary-color);
  background-position: center;
  background-size: 15px 15px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: var(--light-shadow1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--medium-shadow1);
  }

  .card-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color-inverted);
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 12px;
      color: var(--primary-color);
<<<<<<< HEAD
      animation: rotateIcon 2s linear infinite;
=======
>>>>>>> d499f1d (Initial commit)
    }
  }

  .card-content {
    font-size: 16px;
    color: var(--base-text-color);
<<<<<<< HEAD
    line-height: 1.8;
=======
    line-height: 1.5;
>>>>>>> d499f1d (Initial commit)
    max-height: 400px; /* Limit the height to make it scrollable */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  @keyframes rotateIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Specific Styles for CreateUser Component
.form-group {
  margin-bottom: 20px;

  label {
    font-weight: 700;
    color: var(--text-color-inverted);
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
  }

  input, select {
    width: 100%;
<<<<<<< HEAD
    padding: 12px;
=======
    padding: 10px;
>>>>>>> d499f1d (Initial commit)
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg-color);
    color: var(--base-text-color);
    font-size: 16px;
    box-shadow: var(--light-shadow1);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
      box-shadow: 0 0 10px var(--primary-color);
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      padding: 14px 24px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .submit-button {
      background-color: var(--primary-color);
      color: #fff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: var(--primary-color-dark); /* Make sure this is defined */
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }

    .cancel-button {
      background-color: #ccc;
      color: #333;
      margin-left: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #bbb;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Layout for the entire content area
.content-area-charts {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 24px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

// Add this for creating a scrollable form inside the card
.scrollable-form {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px; /* For padding right to avoid overlap with scrollbar */
=======
  grid-template-columns: 40% 60%; /* Set columns to 30% and 70% */
  grid-template-rows: auto; /* Each row adjusts height automatically */
  gap: 24px; /* Space between the charts */

  @media (max-width: 992px) {
    grid-template-columns: 1fr; /* Stacks the charts in one column on smaller screens */
  }
}


// Hide scrollbar but retain scroll functionality
.scrollable-form {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px; /* To avoid content getting hidden under scrollbar */

  /* Hide scrollbar for Webkit (Chrome, Edge, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Internet Explorer and Edge (legacy) */
  -ms-overflow-style: none;
}

.map-wrapper {
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
>>>>>>> d499f1d (Initial commit)
}
