
.profile-page {
  margin-top: 50px;
  padding: 20px;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

    .profile-picture {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 5px solid var(--primary-color);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }

    .profile-name {
      font-size: 2em;
      margin: 10px 0;
      color: var(--text-color);
    }

    .profile-bio {
      font-size: 1.2em;
      color: var(--text-color);
    }
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    gap: 20px;

    .profile-card {
      background-color: var(--card-background-color);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: var(--primary-color);
      }

      p {
        font-size: 1em;
        margin-bottom: 5px;
        color: var(--text-color);
      }
    }

    @media (prefers-color-scheme: dark) {

      .profile-card {
        background-color: var(--secondary-color); // Applying the dark mode color
        border-color: #444; // Adjust border color for dark mode
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
