.logout-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    animation: fadeIn 1s ease-in-out;
  
    .confirmation-dialog, .logout-message {
      text-align: center;
      background-color: var(--card-background-color);
      color: var(--text-color); // Use text color variable
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      }
  
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
        color: var(--primary-color);
      }
  
      p {
        font-size: 1.2em;
        color: var(--text-secondary-color);
      }
  
      .dialog-icon {
        margin-bottom: 20px;
        color: var(--primary-color);
      }
  
      .dialog-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
  
        .confirm-button, .cancel-button {
          padding: 10px 20px;
          font-size: 1em;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out, transform 0.2s;
  
          &.confirm-button {
            background-color: var(--primary-color);
            color: white;
  
            &:hover {
              filter: brightness(90%);
              transform: translateY(-2px);
            }
          }
  
          &.cancel-button {
            background-color: var(--cancel-color);
            color: white;
  
            &:hover {
              filter: brightness(90%);
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  