.product-management-page {
<<<<<<< HEAD
    padding: 20px;
    background-color: var(--background-color);
    min-height: 100vh;
  
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: var(--primary-color);
      text-align: center;
      animation: fadeIn 1s ease-in-out;
    }
  
    .product-actions {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 30px;
  
      .action-button {
=======
  padding: 20px;
  background-color: var(--background-color);
  min-height: 100vh;

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }

  /* Search Bar Styles */
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
      width: 300px;
      padding: 10px;
      border: 2px solid var(--primary-color);
      border-radius: 5px 0 0 5px;
      font-size: 1.1em;
      outline: none;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: #02685c; /* Slightly darker shade of primary color */
      }
    }

    .search-button {
      padding: 10px 20px;
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 1.1em;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #02685c;
      }
    }
  }

  .product-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    .action-button {
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.2em;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #02685c; /* Slightly darker shade of primary color */
      }

      svg {
        margin-right: 8px;
      }
    }
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .product-card {
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .product-info {
      text-align: center;
      margin-bottom: 20px;

      .product-icon {
        margin-bottom: 10px;
        color: var(--text-color);
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: var(--primary-color);
      }

      p {
        font-size: 1em;
        color: var(--text-color);
      }
    }

    .product-actions {
      display: flex;
      justify-content: center;
      gap: 10px;

      .edit-button, .delete-button {
>>>>>>> d499f1d (Initial commit)
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
<<<<<<< HEAD
        font-size: 1.2em;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #02685c; /* Slightly darker shade of primary color */
        }
  
        svg {
          margin-right: 8px;
        }
      }
    }
  
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }
  
    .product-card {
      background-color: var(--secondary-color);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      padding: 20px;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
  
      .product-info {
        text-align: center;
        margin-bottom: 20px;
  
        .product-icon {
          margin-bottom: 10px;
          color: var(--primary-color);
        }
  
        h2 {
          font-size: 1.5em;
          margin-bottom: 10px;
          color: var(--text-color);
        }
  
        p {
          font-size: 1em;
          color: var(--text-color);
        }
      }
  
      .product-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
  
        .edit-button, .delete-button {
          background-color: var(--primary-color);
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: background-color 0.3s ease-in-out;
  
          &:hover {
            background-color: #02685c; /* Slightly darker shade of primary color */
          }
  
          svg {
            margin-right: 5px;
          }
        }
  
        .delete-button {
          background-color: #e74c3c;
  
          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  
    .product-form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: var(--secondary-color);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--primary-color);
      }
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 8px;
          font-weight: 600;
          color: var(--text-color);
        }
  
        input, textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid var(--input-border-color); /* Dynamic border color */
          border-radius: 5px;
          font-size: 1em;
          color: var(--text-color-inverted); /* Input text color */
          background-color: var(--input-bg-color);
        }
      }
  
      .form-actions {
        display: flex;
        justify-content: space-between;
  
        .submit-button {
          background-color: var(--primary-color);
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
  
          &:hover {
            background-color: #02685c;
          }
        }
  
        .cancel-button {
          background-color: #ccc;
          color: #333;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
  
          &:hover {
            background-color: #aaa;
          }
        }
      }
    }
  
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      .page-button {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &.active {
          background-color: #02685c;
        }
  
        &:hover {
          background-color: #02685c;
        }
      }
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
=======
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #02685c; /* Slightly darker shade of primary color */
        }

        svg {
          margin-right: 5px;
        }
      }

      .delete-button {
        background-color: #e74c3c;

        &:hover {
          background-color: #c0392b;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .page-button {
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &.active {
        background-color: #02685c;
      }

      &:hover {
        background-color: #02685c;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

>>>>>>> d499f1d (Initial commit)
